<h1>
  FWK WORKS!!!
</h1>

<div class="alert alert-primary" role="alert">
  <fa-icon [icon]="faCoffee"></fa-icon>
  A simple primary alert—check it out!
</div>
<button pButton type="button" label="Click"></button>

<p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City" optionLabel="name" [showClear]="true"></p-dropdown>
<p>Selected City: {{selectedCity ? selectedCity.name : 'none'}}</p>

<p>
  <input type="password" pPassword />
</p>

<div class="container">
  <p-table [value]="cars" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Global Filter" (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
  </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Vin</th>
            <th>Year</th>
            <th>Brand</th>
            <th>Color</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
        <tr>
            <td>{{car.vin}}</td>
            <td>{{car.year}}</td>
            <td>{{car.brand}}</td>
            <td>{{car.color}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
          <td colspan="2">Totals</td>
          <td>$506,202</td>
          <td>$531,020</td>
      </tr>
  </ng-template>
</p-table>
</div>

